<h2>User info</h2>

<%= form_with model: @user do |f| %>
  <p>Name</p>
  <%= f.text_field :name %>

  <p>image</p>
  <%= f.file_field :profile_image, accept: "image/*" %>

  <p>introduction</p>
  <%= f.text_area :introduction %>

  <p>
  <%= f.submit '投稿' %>
  </p>

<% end %>
